body {
  background-color: #131038;  
  background: url('./stars.jpg') no-repeat center top;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.Expression {
  font-size: 100px;
}

sub {
  font-size: 30px;
}

.Streak {
  font-size: 20px;
}

.UserText {
  color: #131038;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  text-align: center;
  max-width: 300px;
  margin: 40px auto;
}

.UserSettingsContainer {
  display: flex;
  flex-direction: row;
}

.AdvancedOptions {
  margin-top: 20px;
  display: block;
}

.Settings {
  background-color: rgba(6, 5, 37, 0.8);
  border-radius: 2px;
  max-width: 800px;
  padding: 15px;
  margin: 30px auto;
  box-shadow: 2px 2px 2px #040512;
}

.OperationButtonContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.DifficultyButtonContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.ButtonRow {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/*.SettingsButton {
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
  color: white;
  flex: 1;
  padding: 7px;
  margin: 2px;
  background-color: #0A0725;
  border-top: white 1px solid;
  border-bottom: #2980b9 1px solid;
  border-left: #2980b9 1px solid;
  border-right: #2980b9 1px solid;
  border-radius: 6px;
}*/

.SettingsButton {
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
  color: white;
  flex: 1;
  padding: 7px;
  margin: 2px;
  /*background-color: #131038;*/
  background-color: #0A0725;
  border: grey 1px solid;
  border-radius: 2px;
}

.SettingsButton:hover {
  border: white 1px solid;
}

.Selected {
  /*background-color: #456980;*/
  background-color: #224962;
}

.SettingsDescription {
  margin-top: 4px;
  margin-bottom: 8px;
}

.Inactive {
  opacity: 0.3;
}

/*.SettingsButton:active {
  box-sizing: border-box;
  border-top: grey 3px solid;	
  border-bottom: #2980b9 1px solid;
}*/

.SettingsButton:focus {
  outline: none;
}

.FeedbackIcon {
  font-size: 150px;
  flex: 1;
  opacity: 0;
  padding-top: 20px;
}

.FeedbackIcon-Grey {
  color: #595959;
}

.FeedbackIcon-Blue {
  color: #2E89D7;
}

.FadeOut {
  animation: appearAndFadeOut 0.5s linear;
}

.FormRow {
  display: flex;
  margin: 0 40px;
}

.FormRow > input {
  flex: 2;
}

.FormRow > sub {
  align-self: flex-end;
  padding-bottom: 20px;
  padding-left: 8px;
}

@keyframes appearAndFadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}


.SettingsRow {
  display: flex;
}

.SettingsTitle {
  flex: 3;
  text-align: left;
  margin-top: 8px;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  background-color: #08051D;
  border-top: 1px solid white;
}

.Tutorial {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  background-color: green;
  background-color: rgba(0, 0, 20, 0.97);
  border-radius: 5px;
  padding: 15px;
  animation: moveRight 0.3s linear;
  box-shadow: 2px 2px 2px #040512;
}

.Tutorial > h3 {
  margin-bottom: 50px;
}

.Tutorial li {
  margin: 10px 0px;
}

.Tutorial p {
  text-align: right;
}

.Tutorial i {
  position: relative;
  right: 15px;
  top: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #919191;
}

.Tutorial i:hover {
  color: white;
}

@keyframes moveRight {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 10px;
    opacity: 1;
  }
}